<div class="form-container">
    <form class="formulario" [formGroup]="sessaoForm"  (ngSubmit)="onSubmit()">
        <h2 class="titulo">Cadastro do Sessão</h2>

        <div class="form-group">
            <mat-form-field appearance="outline" class="label">
                    <input class="label" matInput [matDatepicker]="data" formControlName="data" placeholder="Data">
                    <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                    <mat-datepicker #data></mat-datepicker>
                    <mat-error *ngIf="sessaoForm.get('data')?.hasError('required')  && sessaoForm.get('data')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline" class="label-atividade">
                <mat-label >Atividade</mat-label>
                <mat-select formControlName="atividadesPlanejadas" id="atividade">
                  <mat-option value="Controle de carrapatos e piolhos">Controle de carrapatos e piolhos</mat-option>
                  <mat-option value="Controle de temperatura corporal">Controle de temperatura corporal</mat-option>
                  <mat-option value="Desverminação">Desverminação</mat-option>
                  <mat-option value="Suplementação">Suplementação</mat-option>
                  <mat-option value="Tratamento contra sarna">Tratamento contra sarna</mat-option>
                  <mat-option value="Vacinação contra circovirose suína">Vacinação contra circovirose suína</mat-option>
                  <mat-option value="Vacinação contra parvovirose suína">Vacinação contra parvovirose suína</mat-option>
                  <mat-option value="Vacinação contra raiva">Vacinação contra raiva</mat-option>
                  <mat-option value="Vacinação contra Rinite Atrófica">Vacinação contra Rinite Atrófica</mat-option>
                </mat-select> 
              </mat-form-field>
              <button class="botao-adicionar" (click)="addAtividade()">+</button>
        </div>
              

        <div class="form-group">
            <mat-form-field appearance="outline" class="label-suino">
                <mat-label >Selecione o Suíno</mat-label>
                <mat-select formControlName="brincos">
                    <mat-option *ngFor="let suino of suinos" [value]="suino.brinco">{{ suino.brinco }}</mat-option>
                </mat-select>
                <mat-error *ngIf="sessaoForm.get('brincoSuino')?.touched && !sessaoForm.get('brincoSuino')?.valid">Escolha um suíno</mat-error>
            </mat-form-field>
            <button class="botao-adicionar" (click)="addSuino()" >+</button>
        </div>

        <div class="form-group">
            <mat-form-field appearance="outline" class="label">
                <textarea matInput formControlName="descricao" placeholder="Descrição"></textarea>
                <mat-error *ngIf="sessaoForm.get('descricao')?.hasError('required') && sessaoForm.get('descricao')?.touched">Campo obrigatório</mat-error>
            </mat-form-field>
        </div>
        
        <button mat-raised-button color="primary" class="botao" [disabled]="sessaoForm.get('data')?.invalid || sessaoForm.get('descricao')?.invalid">Cadastrar</button>

        
    </form>

</div>
